<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.kg.fieldluxe.member.repository.IMemberRepository">

	<resultMap id="memberMap" type="com.kg.fieldluxe.member.model.MemberVO">
		<id property="email" column="email" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="account" column="account" />
		<result property="name" column="name" />
		<result property="phoneNum" column="phone_num" />
		<result property="postNum" column="post_num" />
		<result property="address" column="address" />
		<result property="joinDate" column="join_date" />
		<result property="ban" column="ban" />
		<result property="kakao" column="kakao" />
		<result property="naver" column="naver" />
	</resultMap>

	

</mapper>